/* -------------------------- */

/* GLOBAL START */

* {
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 100px;
}
body{
    background-color: #f5f5f5;
    overflow: hidden;
}
/* GLOBAL END */

/* -------------------------- */

/* HEADER START */
.header-section .header-wrapper {
    background-color: #434343;
    display: flex;
    padding: 20px 250px;
    justify-content: space-between;
}

.header-wrapper .header-logo {
    width: 150px;
}

.header-navigation {
    margin: auto 0;
}

.header-navigation .header-route {
    text-decoration: none;
    margin: 0 12px;
    font-size: 20px;
    color: #f5f5f5;
    cursor: pointer;
}

/* HEADER END */

/* -------------------------- */

/* HOME START */

.home-route {
    background-color: #f5f5f5;
}

.home-route .home-special{
    padding: 20px 0;
    height: fit-content;
    position: relative;
}

.home-special .pizza-image{
    width: 300px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    left: -300px;
}

.home-special .pasta-image{
    width: 350px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position:absolute;
    right: -300px;
    bottom: -250px;
}

.special-text{
    width: 500px;
    margin: 0 auto;
    color: #434343;
}

.special-text .special-title{
    font-size: 50px;
}
.special-text .special-description{
    font-size: 17px;
    margin-top: 10px;
    font-weight: lighter;
}

/* HOME END */

/* -------------------------- */

/* MENU START */

/* MENU END */

/* -------------------------- */

/* LOGIN START */

/* LOGIN END */

/* -------------------------- */

/* REGISTER START */

/* REGISTER END */

/* -------------------------- */

/* ABOUT US START */

/* ABOUT US END */

/* -------------------------- */

/* CONTACT US START */

/* CONTACT US END */

/* -------------------------- */

/* RESPONSIVE START */

/* Small devices (mobile, 700px and down) */
@media (max-width: 700px) {
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 910px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* RESPONSIVE END */

/* -------------------------- */
